<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.daggerwork.feature">

    <application>
        <activity
            android:name="com.example.android.daggerwork.feature.ui.FeatureActivity2"
            android:screenOrientation="portrait" />
    </application>
</manifest>
