<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.daggerwork.chat">

    <application>
        <activity
            android:name="com.example.android.daggerwork.chat.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DaggerWork" />
    </application>
</manifest>
