<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.daggerwork.login">

    <application>
        <activity
            android:name="com.example.android.daggerwork.login.LoginActivity"
            android:label="Login"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.DaggerWork"></activity>
    </application>
</manifest>
